# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build output
client/dist/

# Environment variables
.env
server/.env
client/.env

# Videos
# Ignore everything in the logs folder
server/uploads/videos/*

# But do NOT ignore the .gitkeep file
server/uploads/videos/.gitkeep

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
